/** @format */

.App {
  padding: 5% 0px;
  text-align: center;
  background-color: #282c34;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 100s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-form {
  color: #fff;
  width: 25%;
  text-align: center;
}
.status-done {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 10px 0px;
  text-decoration-line: line-through;
  text-decoration-color: black;
  text-decoration-style: double;
}
.status-in-progress {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 10px 0px;
}

.button-navigate {
  position: fixed;
  top: 5rem;
  left: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
